<!DOCTYPE html>
<html ng-app="geomapping">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="webjars/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/jquery-ui/1.11.4/jquery-ui.min.css">
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <script src="webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="webjars/jquery-ui/1.11.4/jquery-ui.min.js"></script>
    <script src="webjars/angularjs/1.2.23/angular.min.js" ></script>
    <script src="webjars/angularjs/1.2.23/angular-resource.min.js" ></script>
    <script src="webjars/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="webjars/angular-ui-bootstrap/0.12.1-1/ui-bootstrap.js"></script>
    <script src="webjars/angular-ui-bootstrap/0.12.1-1/ui-bootstrap-tpls.min.js"></script>
    <script src="webjars/lodash/3.3.1/lodash.min.js"></script>
    <script src="webjars/angular-google-maps/2.0.11/angular-google-maps.min.js"></script>
    <script src="webjars/codef0rmer-angular-dragdrop/1.0.11/angular-dragdrop.min.js"></script>
    <script src="scripts/controller.js"></script>


    <title>GeoMapping</title>
    <style>
        .angular-google-map-container { height: 1000px; }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">GeoMapping</a>
        </div>


        </div>
    </nav>




    <div class='container-fluid' ng-controller="CountryController">
        <div ng-class="{'has-error': !selectedCountry.id}">
            <input  type="text" ng-model="selectedCountry" placeholder="Country" typeahead="item as item.displayName for item in getCountry($viewValue)" typeahead-loading="loadingCountries" class="form-control" typeahead-on-select="onSelect($item,$model,$label)">
            <i ng-show="loadingCountries" class="glyphicon glyphicon-refresh"></i>
        </div>







        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">UN Locations</div>

                        <!-- Table -->
                        <table class="table table-condensed table-striped">
                            <tr>
                                <th>UN Location</th>
                                <th>Action</th>
                            </tr>
                            <Tr ng-repeat="location in locations | limitTo:10">
                                <td><div class="btn" data-drop="true" ng-model="droppedCities" jqyoui-droppable="{onDrop:'onCityDropped(location)'}">{{location.code}} - {{location.name}}</div></td>
                                <td></td>
                            </Tr>
                        </table>

                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Mappings</div>

                        <!-- Table -->
                        <table class="table table-condensed table-striped">
                            <tr>
                                <th>City</th>
                                <th>UN Location</th>
                                <th>Action</th>
                            </tr>
                            <Tr ng-repeat="mapping in mappings">
                                <td>{{mapping.city.name}}</td>
                                <td>{{mapping.location.code}} - {{mapping.location.name}}</td>
                                <td><div class="btn btn-xs btn-danger" ng-click="deleteMapping($index,mapping.id)"><span class="glyphicon glyphicon-trash"></span> Delete</div></td>
                            </Tr>
                        </table>

                    </div>
                </div>



                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Cities</div>

                        <!-- Table -->
                        <table class="table table-condensed table-striped">
                            <tr>
                                <th>Name</th>
                                <th>Coordinates</th>
                                <th>Action</th>
                            </tr>
                            <Tr ng-repeat="city in cities">
                                <td><div ng-model="cities" class="btn" ng-class="{'btn-primary' : !city.mapped}"  data-drag="{{!city.mapped}}" jqyoui-draggable="{animate:true, placeholder:'keep', index: {{$index}}}" data-jqyoui-options="{revert: 'invalid'}" >{{city.name}}</div></td>
                                <td>{{city.latitude | number : 6}}, {{city.longitude | number : 6}}</td>
                                <td></td>
                            </Tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <ui-gmap-google-map center='map.center' refresh='selectedCountry.id' zoom='zoom' control='map'>
            <ui-gmap-markers models="locations" coords="'self'" options="'options'" doCluster="true" >
            </ui-gmap-markers>
            <ui-gmap-markers models="cities" coords="'self'" options="'options'" events="cityMarkerEvents" >
            </ui-gmap-markers>


            <ui-gmap-polyline ng-repeat="m in mappingLines" path="m.path"></ui-gmap-polyline>

        </ui-gmap-google-map>

     droppedCities: {{droppedCities}}

    </div>




</body>
</html>